// Globals
$global-font-color-dark: #fff;
$global-font-secondary-color-dark: #fff;
$global-link-color-dark: #fff;
$global-link-hover-color: #5d5d5f;
$global-link-hover-color-dark: #a9a9b3;

// Single links
$single-link-color-dark: #55bde2;
$single-link-hover-color-dark: rgba(85, 189, 226, 0.6);